body {
    padding-top: 70px;
    background-color: #e6fdd9f6;

}

.container {
    line-height: 1.6;
    margin: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.exercise {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.exercise:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.exercise-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.problem-number {
    font-weight: bold;
    margin-right: 5px;
}

.equation {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

.equation .numerator {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 2px;
    display: inline-block;
    /* To help with alignment */
}

.equation .denominator {
    padding-top: 2px;
    display: inline-block;
    /* To help with alignment */
}

/* Style for LaTeX/MathJax equations */
.math {
    font-family: serif;
    /* Ensure MathJax uses a serif font */
}


footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
}

.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.custom-navbar {
    padding: 1.2rem 1rem;
    /* más alto */
    font-weight: 600;
    /* texto un poco más grueso */
}

.custom-navbar {
    background-color: #0d6efd;
    color: white;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white;
}

.custom-navbar .nav-link:hover {
    color: #1d0977;
    /* color dorado al pasar mouse */
}

.custom-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #2d264d;
    font-weight: 800
}

.mi-fondo-personalizado {
    background-color: #77f346;
    /* azul personalizado */
}

.exercise {
  background-color: #ffffff;
  padding: 20px;
  border-left: 6px solid #256313;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.exercise-title a {
  text-decoration: none;
  color: #256313;
  text-decoration: none;
}

.exercise-title a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #2daf09;
}

.banner-imagen {
  background-image: url('../img/descarga.jpg'); /* Cambia esto según tu ruta */
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
}

.banner-imagen::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen para mejor contraste */
}

.banner-imagen .container {
  position: relative;
  z-index: 2;
}

